# Go build outputs
*.exe
*.test
*.prof
*.pprof
*.out
*.log

# Local binaries and tools
kind
bin/

# IDE-specific files
/.kind/
/.work/
/.cache/
/.public/
/.vscode/
/.idea/

.DS_Store
scripts/common-template/dist/
/foundation/gateway/gateway

# Ignore local e2e context
/foundation/plugin/e2e/context/
