# Go build outputs
*.exe
*.test
*.prof
*.pprof
*.out
*.log

# Local binaries and tools
kind
bin/

# IDE-specific files
.idea
.kind
.work
.cache
.public
.vscode

# OS-specific files
.DS_Store
/vendor/
/tools/vendor/