go 1.26.4

use (
	./ci/tools/go
	./csp/aruba
	./csp/dummy
	./csp/ionos
	./foundation/delegator
	./foundation/gateway
	./foundation/persistence
	./framework
	./gateway
	./resources
	./test/e2e
)

replace (
	github.com/eu-sovereign-cloud/ecp/csp/aruba v0.0.1 => ./csp/aruba
	github.com/eu-sovereign-cloud/ecp/csp/dummy v0.0.1 => ./csp/dummy
	github.com/eu-sovereign-cloud/ecp/csp/ionos v0.0.1 => ./csp/ionos
	github.com/eu-sovereign-cloud/ecp/foundation/delegator v0.0.1 => ./foundation/delegator
	github.com/eu-sovereign-cloud/ecp/foundation/gateway v0.0.1 => ./foundation/gateway
	github.com/eu-sovereign-cloud/ecp/foundation/persistence v0.0.1 => ./foundation/persistence
	github.com/eu-sovereign-cloud/ecp/framework v0.0.1 => ./framework
	github.com/eu-sovereign-cloud/ecp/gateway v0.0.1 => ./gateway
	github.com/eu-sovereign-cloud/ecp/resources v0.0.1 => ./resources
	github.com/eu-sovereign-cloud/ecp/test/e2e v0.0.1 => ./test/e2e
)
