go 1.26.4

use (
	./ci/tools/go
	./foundation/delegator
	./foundation/gateway
	./foundation/persistence
	./csp/aruba
	./csp/dummy
	./csp/e2e
	./csp/ionos
)

replace (
	github.com/eu-sovereign-cloud/ecp/foundation/delegator v0.0.1 => ./foundation/delegator
	github.com/eu-sovereign-cloud/ecp/foundation/gateway v0.0.1 => ./foundation/gateway
	github.com/eu-sovereign-cloud/ecp/foundation/persistence v0.0.1 => ./foundation/persistence
	github.com/eu-sovereign-cloud/ecp/csp/aruba v0.0.1 => ./csp/aruba
	github.com/eu-sovereign-cloud/ecp/csp/dummy v0.0.1 => ./csp/dummy
	github.com/eu-sovereign-cloud/ecp/csp/ionos v0.0.1 => ./csp/ionos
)
