go 1.25.0

use (
	./foundation/api
	./foundation/delegator
	./foundation/gateway
	./foundation/plugin/aruba
	./foundation/plugin/ionos
)

replace github.com/eu-sovereign-cloud/ecp/foundation/api v0.0.1 => ./foundation/api
